# Database Configuration
DB_URL=jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
DB_DRIVER=org.h2.Driver
DB_USERNAME=sa
DB_PASSWORD=password
# http://localhost:8080/h2-console

# JPA Configuration
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false

# H2 Console Configuration
H2_CONSOLE_ENABLED=true
H2_CONSOLE_PATH=/h2-console

# Server Configuration
SERVER_PORT=8080

# API Documentation
SWAGGER_ENABLED=true
API_DOCS_PATH=/api-docs
